{% load staticfiles %}

<!DOCTYPE html><html lang="en">

<head>
	<!-- Basic informations -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Site informations -->
	<title>Biblioteca</title>
	<meta name="author" content="Christian Lisi">
	<meta name="description" content="biblioteca created by Christian Lisi.">

	<!-- Open Graph -->
	<meta property="og:title" content="Free Aurora Template">
	<meta property="og:description" content="Bliblioteca Template created by Christian Lisi.">


	<!-- Fonts -->
	<!--link href="style/fonts/webfont-raleway/webfont-raleway.css" rel="stylesheet" type="text/css"-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet" media="all">

	<!-- Scripts preload -->
	<!--[if lt IE 9]><script src="style/js/html5shiv.js"></script><![endif]-->
</head>

<body>






	<!-- Some Helper Stuff -->
	<div id="start" class="start">&nbsp;</div>
	<div class="maxwidth1050">&nbsp;</div>







	<!-- Header -->
	<header class="header">
		<div class="header__wrapper">
			<div class="header__hamburger">
				<div class="header__hamburger-block">&nbsp;</div>
				<div class="header__hamburger-block">&nbsp;</div>
				<div class="header__hamburger-block">&nbsp;</div>
			</div>
			<nav class="header__navigation">
				<a href="#start" class="js-smooth-scroll">
					<div class="js-smooth-scroll  header__navigation-element">Start...</div>
				</a>
				<a href="#experience" class="js-smooth-scroll">
					<div class="header__navigation-element  header__navigation-element--experience">Skills...</div>
				</a>
				<a href="#features" class="js-smooth-scroll">
					<div class="header__navigation-element  header__navigation-element--features">Guarantees...</div>
				</a>
				<a href="#realizations" class="js-smooth-scroll">
					<div class="header__navigation-element  header__navigation-element--realizations">Portfolio...</div>
				</a>
			</nav>

			

			<!--div class="header__social-icons">
				<a target="_blank" href="_blank"><i class="fas fa-user-plus"></i></a>

				<Fixing search > 
				<div class="search-container">
					<form action="/action_page.php">
						<input type="text" placeholder="Search.." name="search">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>

			</div-->






			<a href="#start" class="header__title-wrapper  js-smooth-scroll">
				<div class="header__title-main">Biblioteca</div>
				<div class="header__title-sub">By Christian Lisi</div>
			</a>		
		</div>
	</header>
	<!-- End Header -->








	<!-- First Fixed "Hero" Section -->
	<section id="hero" class="hero">
		<div class="hero__background">&nbsp;</div>
		<div class="hero__gradient">&nbsp;</div>
		<div class="hero__pattern">&nbsp;</div>
		<div class="hero__content">
				
		<div class="hero__content-wrapper">
				

		
				<div class="hero__title-wrapper">
					<div class="hero__title-large">Hello!</div>
					<div class="hero__title-small">This is Biblioteca.</div>

						<!--BOTTONE ENTRA IN LIBRERIA-->
				<div class="hero__call-to-action">
						<a href="login" class="hero__button  ghost-button  ghost-button--hero">Entra subito &nbsp; <i class="fas fa-user"></i></a>
					</div>



				</div>
				<div class="hero__photo-wrapper">
					<div class="hero__photo">
						<!--<div class="hero__hat">&nbsp;</div>-->
					</div>
				</div>



			

			</div>
		</div>
	</section>
	<!-- End First Fixed "Hero" Section -->


	<!-- Scrollable Content -->
	<div class="content">



		<!-- "Experience" Section -->
		<section id="experience" class="experience">
			<div class="experience__hollow-arrow">&nbsp;</div>
			<div class="experience__wrapper">
				<div class="section-header">
					<div class="section-header__title  section-header__title--experience">My Skills...</div>
					<div class="section-header__subtitle">Software and technologies that I used in this project</div>
				</div>
				<div class="experience__icons-wrapper">
					<div class="experience__icon ">
					
						<img src="{% static 'img/exp/exp_django.svg'%}" width= "100%" height="110px"> 					
						<div class="experience__icon-description">DJANGO</div>
					</div>
					<div class="experience__icon ">
							<img src="{% static 'img/exp/exp_python.svg'%}" width= "100%" height="110px"> 
						<div class="experience__icon-description">PYTHON</div>
					</div>
					<div class="experience__icon  experience__icon--html5">
						
						<div class="experience__icon-description">HTML5</div>
					</div>
					<div class="experience__icon  experience__icon--css3">
						<div class="experience__icon-description">CSS3</div>
					</div>
					<div class="experience__icon  experience__icon--javascript">
						<div class="experience__icon-description">JavaScript</div>
					</div>
					<div class="experience__icon  experience__icon--git">
						<div class="experience__icon-description">GIT</div>
					</div>
					<div class="experience__icon  experience__icon--photoshop">
						<div class="experience__icon-description">Adobe Photoshop</div>
					</div>
					<div class="experience__icon  experience__icon--illustrator">
						<div class="experience__icon-description">Adobe Illustrator</div>
					</div>
					<div class="experience__icon  experience__icon--bootstrap">
						<div class="experience__icon-description">Bootstrap 3</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End "Experience" Section -->














		<!-- "Features" Section -->
		<section id="features" class="features">
			<div class="features__wrapper">
				<div class="section-header">
					<div class="section-header__title  section-header__title--features">I Provide Websites...</div>
					<div class="section-header__subtitle">I try my best to fulfill these points for the greatest possible customer satisfaction</div>
				</div>
				<div class="features__elements-wrapper">
					<div class="features__element">
						<div class="features__image  features__image--mobile">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Responsive and Mobile Friendly</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea! Placeat quidem magnam.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--newest">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Made with Newest Technologies</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--intuitive">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Visually Attractive and Intuitive</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--browsers">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Compatible with Every Browser</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea! Placeat quidem magnam, natus est eos fugit doloremque dolorum.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--clients">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Unique for Every Client</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea! Placeat quidem magnam.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--fast">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Fast and Performant</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea placeat quidem.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--seo">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Search Engine Friendly</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--secure">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Secure</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea! Placeat quidem magnam, natus.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--semantic">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Semantic</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea! Placeat quidem magnam, natus est eos fugit doloremque.</div>
						</div>
					</div>
					<div class="features__element">
						<div class="features__image  features__image--sourcefiles">&nbsp;</div>
						<div class="features__text">
							<div class="features__title">Provided with Source Code</div>
							<div class="features__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus, nemo corrupti voluptas ea.</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End "Features" Section -->






		<!-- Footer -->
		<footer id="footer" class="footer">
			<div class="footer__wrapper">
				<div class="footer__copyright">Some Rights Reserved &copy; 2018</div>
				
			</div>
		</footer>
		<!-- End Footer -->








	</div>
	<!-- End Scrollable Content -->












	<!-- Scripts postload -->
	<script src="{% static '/js/dependencies.min.js' %}" type="text/javascript"></script>
	<script src="{% static '/js/global.js' %}" type="text/javascript"></script>

</body>
</html>
