{% extends 'navbar_admin.html' %}

{% block body %}


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">{{user}} detail</li>
  </ol>

      
 <!--Prestiti-->
 <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-link" style="color: #868e96"></i> Reserved book for {{user}}</div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="card-deck">

                <!---->
                <!-- Prestiti per utenti-->
                <!---->

                {% for book in reserved_books %}
                 <!--Card-->
                 <a href="{% url 'admin_detail'  op='admin_give' user=user pk=book.pk %}" class="card-block clearfix">
                  <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                    <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{{book.tumbnail}}" alt="thumbnail" >
                    <div class="card-footer" style="height: 115px ;white-space: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;">
                        {{book.title}}               
                    </div>
                  </div>
                </a>
                {% endfor %}


                

              </div>
            </div>
          </div><!--end body-->
        </div>
      </div><!--Prestiti end-->




    <!--Prenotati-->
    <div class="card mb-3">
        <div class="card-header">
          <i class="fab fa-leanpub" style="color: #868e96"></i> Loaned books for {{user}}</div>
        <div class="card-body">
          <!--start body-->
          
            <div class="container-fluid">
              <div class="row">
                <div class="card-deck">
                    

                <!---->
                <!-- Prenotati per utenti-->
                <!---->
                {% for book in loaned_books %}
                <!--Card-->
                <a href="{% url 'admin_detail'  op='admin_take' user=user pk=book.pk %}" class="card-block clearfix">
                 <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                   <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{{book.tumbnail}}" alt="thumbnail" >
                   <div class="card-footer" style="height: 115px ;white-space: break-word;
                   overflow: hidden;
                   text-overflow: ellipsis;">
                       {{book.title}}               
                   </div>
                 </div>
               </a>
               {% endfor %}



                </div>
            </div>
          </div><!--end body-->


        </div>
      </div><!--Prenotati end-->

{% endblock %}