{% extends 'navbar.html' %}

{% load widget_tweaks %}


{% block body %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Dettaglio</li>
  </ol>

  <section>
        <div class="container py-3">
          <div class="card" style="padding: 50px;">
            <div class="row ">
              <div class="col-md-3" style="margin-bottom: 50px;">
                  <img src="{{book.tumbnail}}" class="img-fluid" style="height: 185px;width: 128px;">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">

                    <h3 class="title mb-3">{{book.title}}</h3>


                    <dl class="item-property">
                        <dt>Author</dt>
                        <dd><p>{{book.author}}</p></dd>
                    </dl>

                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{book.description}}</p></dd>
                    </dl>
                    <dl class="item-property">
                        <dt>Isbn:</dt>
                        <dd><p>{{book.isbn}}</p></dd>
                    </dl>
                      

                    <hr>
                      
                    <a href="{% url 'reserve_book'  pk=book.pk %}" class="btn btn-lg btn-outline-primary text-uppercase prenota"> <i class="fas fa-bookmark" style="margin: 5px"></i> Prenota </a>
                    <a href="{% url 'delete_book'  pk=book.pk %}" class="btn btn-lg btn-outline-primary text-uppercase elimina"> <i class="fas fa-trash-alt" style="margin: 5px"></i> Elimina dai miei Prenotati</a>
                    <a href="#" class="btn btn-lg btn-outline-primary text-uppercase attiva_prestito"> <i class="fas fa-handshake" style="margin: 5px"></i> Attiva Prestito </a>

                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </section>

      <script>
          var vars = [], hash;
          var hashes = window.location.href.slice(window.location.href.indexOf('/') + 1).split('/');
          for(var i = 0; i < hashes.length; i++){
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
          }
         
        
        

          if(vars[4]=='reserve'){
            $('.elimina').hide();
            $('.attiva_prestito').hide();
          }else if (vars[4]=='delete'){
            $('.prenota').hide();
            $('.attiva_prestito').hide();
          }else if(vars[4]=='loan'){
            $('.attiva_prestito').hide();
            $('.prenota').hide();
            $('.elimina').hide();
          }else{
            $('.prenota').hide();
            $('.elimina').hide();
          }

     </script>
     
  
{% endblock %}