{% extends 'navbar.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block body %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">User</li>
  </ol>

      
 <!--Prestiti-->
 <div class="card mb-3">
        <div class="card-header">
          <i class="fab fa-leanpub" style="color: #868e96"></i> Prestiti</div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="card-deck">


                {% for loan in loans %}
                <!--Card-->
                <a href="{% url 'book_detail'  xx='none' pk=loan.pk %}" class="card-block clearfix">
                    <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                      <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{{loan.tumbnail}}" alt="thumbnail" >
                      <div class="card-footer" style="height: 115px ;white-space: break-word;
                      overflow: hidden;
                      text-overflow: ellipsis;" >
                          {{loan}}                  
                      </div>
                    </div>
                  </a>
  
                  {% endfor %}

              </div>
            </div>
          </div><!--end body-->
        </div>
      </div><!--Prestiti end-->




    <!--Prenotati-->
    <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-link" style="color: #868e96"></i> Prenotati</div>
        <div class="card-body">
          <!--start body-->
          
            <div class="container-fluid">
              <div class="row">
                <div class="card-deck">
              
                {% for book in booked_up %}
                <!--Card-->
                <a href="{% url 'book_detail' xx='delete_reserve' pk=book.pk %}" class="card-block clearfix">
                    <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                      <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{{book.tumbnail}}" alt="thumbnail" >
                      <div class="card-footer" style="height: 115px ;white-space: break-word;
                      overflow: hidden;
                      text-overflow: ellipsis;" >
                          {{ book}}                  
                      </div>
                    </div>
                  </a>
              
                  {% endfor %}

                </div>
            </div>
          </div><!--end body-->


        </div>
      </div><!--Prenotati end-->




      
    <!--Prenotati-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-file-alt" style="color: #868e96;margin: 5px;"></i>Sinossi</div>
      <div class="card-body">
        <!--start body-->
        
          <div class="container-fluid">
            <div class="row">
              <div class="card-deck">
            
              
              <!--Card-->
              <a href="{% url 'pdf_math' %}" class="card-block clearfix">
                  <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                    <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{% static 'img/pdf.png' %}" alt="thumbnail" >
                    <div class="card-footer" style="height: 115px ;white-space: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;" >
                                Integrali definiti
                    </div>
                  </div>
                </a>
            
                <a href="{% url 'pdf_ita' %}" class="card-block clearfix">
                  <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                    <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{% static 'img/pdf.png' %}" alt="thumbnail" >
                    <div class="card-footer" style="height: 115px ;white-space: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;" >
                                Evoluzione del romanzo italiano
                    </div>
                  </div>
                </a>
              

              </div>
          </div>
        </div><!--end body-->


      </div>
    </div><!--Prenotati end-->



      <!--Gia Letti-->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-glasses" style="color: #868e96"></i> Gia letti</div>
          <div class="card-body">
            <!--start body-->
            <div class="container-fluid">
              <div class="row">
                <div class="card-deck">
              
                {% for book in already_read %}
                <!--Card-->
                <a href="{% url 'book_detail'  xx='reserve' pk=book.pk %}" class="card-block clearfix">
                    <div class="card" style="max-width: 128px;  margin-bottom: 15px;" >
                      <img class="card-img-left img-responsive" style="width: 128px;height: 185px;object-fit: cover;" src="{{book.tumbnail}}" alt="thumbnail" >
                      <div class="card-footer"  style="height: 115px ;white-space: break-word;
                      overflow: hidden;
                      text-overflow: ellipsis;">
                          {{ book}}                  
                      </div>
                    </div>
                  </a>
            
  
                  {% endfor %}       
                
                </div>
              </div>
            </div><!--end body--> 
          </div>
        </div><!--Gia Letti end-->
  
  
 {% endblock %}